<!doctype html>
<html>
   <head>
      <title>Project.gg</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    </head>
   <body>
        <table border = 1>
            <caption>Account Data</caption>
            {% for line in lines %}
               <tr>
                  <th> {{ line }} </th>
                  <td> {{ lines[line] }} </td>
               </tr>
            {% endfor %}
         </table>
        <br></br>
        <br></br>
        <table border = 1>
            <caption>Ranked Data</caption>
            {% for line in ranked[0] %}
               <tr>
                  <th> {{ line }} </th>
                  <td> {{ ranked[0][line] }} </td>
               </tr>
            {% endfor %}
         </table>
         <br></br>
         <br></br>
         <caption>Last Matches</caption>
         {{match_history | safe}}
   </body>
</html>
